## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key  
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Barrow,US,2022-07-20 21:50:08,overcast clouds,71.2906,-156.7887,51.82,62,100,6.91
1,1,Busselton,AU,2022-07-20 21:50:09,overcast clouds,-33.6500,115.3333,55.81,94,100,10.02
2,2,Ribeira Grande,PT,2022-07-20 21:50:09,few clouds,38.5167,-28.7000,73.80,83,20,5.75
3,3,Rikitea,PF,2022-07-20 21:50:09,clear sky,-23.1203,-134.9692,73.35,75,0,3.98
4,4,Bilma,NE,2022-07-20 21:50:09,broken clouds,18.6853,12.9164,92.82,17,73,2.86

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
# From Module 6.5.3
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 85

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
# From Module 6.5.3
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
14,14,Shimoda,JP,2022-07-20 21:47:26,overcast clouds,34.6667,138.9500,79.11,82,95,7.49
21,21,Puerto Ayora,EC,2022-07-20 21:46:38,overcast clouds,-0.7393,-90.3518,78.76,100,94,8.99
30,30,Kapaa,US,2022-07-20 21:50:16,few clouds,22.0752,-159.3190,82.72,71,20,17.27
44,44,Qrendi,MT,2022-07-20 21:50:19,clear sky,35.8347,14.4583,80.11,71,0,0.87
53,53,Lorengau,PG,2022-07-20 21:51:22,overcast clouds,-2.0226,147.2712,81.10,77,96,3.47
...,...,...,...,...,...,...,...,...,...,...,...
672,672,Tambilil,PH,2022-07-20 22:07:16,broken clouds,5.9622,124.6697,78.22,83,56,3.51
676,676,Eirunepe,BR,2022-07-20 22:07:09,clear sky,-6.6603,-69.8736,83.77,55,10,2.13
682,682,Goderich,CA,2022-07-20 22:07:19,broken clouds,43.7501,-81.7165,78.91,88,75,23.20
683,683,Itaituba,BR,2022-07-20 22:07:19,overcast clouds,-4.2761,-55.9836,82.11,62,98,2.15
684,684,Valverde Del Camino,ES,2022-07-20 22:07:19,clear sky,37.5751,-6.7543,79.03,34,0,3.62

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                121
City                   121
Country                121
Date                   121
Current Description    121
Lat                    121
Lng                    121
Max Temp               121
Humidity               121
Cloudiness             121
Wind Speed             121
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace=True)
clean_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
14,14,Shimoda,JP,2022-07-20 21:47:26,overcast clouds,34.6667,138.9500,79.11,82,95,7.49
21,21,Puerto Ayora,EC,2022-07-20 21:46:38,overcast clouds,-0.7393,-90.3518,78.76,100,94,8.99
30,30,Kapaa,US,2022-07-20 21:50:16,few clouds,22.0752,-159.3190,82.72,71,20,17.27
44,44,Qrendi,MT,2022-07-20 21:50:19,clear sky,35.8347,14.4583,80.11,71,0,0.87
53,53,Lorengau,PG,2022-07-20 21:51:22,overcast clouds,-2.0226,147.2712,81.10,77,96,3.47
...,...,...,...,...,...,...,...,...,...,...,...
672,672,Tambilil,PH,2022-07-20 22:07:16,broken clouds,5.9622,124.6697,78.22,83,56,3.51
676,676,Eirunepe,BR,2022-07-20 22:07:09,clear sky,-6.6603,-69.8736,83.77,55,10,2.13
682,682,Goderich,CA,2022-07-20 22:07:19,broken clouds,43.7501,-81.7165,78.91,88,75,23.20
683,683,Itaituba,BR,2022-07-20 22:07:19,overcast clouds,-4.2761,-55.9836,82.11,62,98,2.15
684,684,Valverde Del Camino,ES,2022-07-20 22:07:19,clear sky,37.5751,-6.7543,79.03,34,0,3.62

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
14,Shimoda,JP,79.11,overcast clouds,34.6667,138.9500,
21,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,
30,Kapaa,US,82.72,few clouds,22.0752,-159.3190,
44,Qrendi,MT,80.11,clear sky,35.8347,14.4583,
53,Lorengau,PG,81.10,overcast clouds,-2.0226,147.2712,
54,Neyshabur,IR,78.12,clear sky,36.2133,58.7958,
67,Itarema,BR,78.08,broken clouds,-2.9248,-39.9167,
78,Kavieng,PG,81.77,light rain,-2.5744,150.7967,
82,Bathsheba,BB,84.81,scattered clouds,13.2167,-59.5167,
95,Kadambur,IN,79.47,broken clouds,8.9833,77.8667,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
14,Shimoda,JP,79.11,overcast clouds,34.6667,138.9500,Shimoda Tokyu Hotel
21,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
30,Kapaa,US,82.72,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
44,Qrendi,MT,80.11,clear sky,35.8347,14.4583,M'Anglu
53,Lorengau,PG,81.10,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
...,...,...,...,...,...,...,...
672,Tambilil,PH,78.22,broken clouds,5.9622,124.6697,Wilfredo Sotto Home
676,Eirunepe,BR,83.77,clear sky,-6.6603,-69.8736,Hotel novo Acre & Comercial Aguiar
682,Goderich,CA,78.91,broken clouds,43.7501,-81.7165,Harmony Inn
683,Itaituba,BR,82.11,overcast clouds,-4.2761,-55.9836,Hotel Campos
684,Valverde Del Camino,ES,79.03,clear sky,37.5751,-6.7543,HOTEL MONTEAROMA (ulamde hotelera S.L.)

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_Database.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [26]:
# NOTE: you will probably have to run the below code in Jupyter Notebook

In [29]:
# make sure map is working
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))