## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Alexandria,EG,77.54,clear sky,31.2156,29.9553,Royal Crown Hotel
1,14,Shimoda,JP,79.11,overcast clouds,34.6667,138.9500,Shimoda Tokyu Hotel
2,20,Luziania,BR,76.69,clear sky,-16.2525,-47.9503,HOTEL SARON
3,21,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,30,Kapaa,US,82.72,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# NOTE: you will probably have to run the below code in Jupyter Notebook

In [5]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure
# make sure map is working
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Prompt user to enter vacation start and end for the four cities
input("Ready to Identify your vacation itinerary (Yes or No)")
vacation_start_city = input("From what city will you start your vacation? ")
vacation_stop_city = vacation_start_city
vacation_stop1_city = input("What is the first city to stop in your vacation? ")
vacation_stop2_city = input("What is the second city to stop in your vacation? ")
vacation_stop3_city = input("What is the third city to stop in your vacation? ")

Ready to Identify your vacation itinerary (Yes or No)Yes
From what city will you start your vacation? Centralia
What is the first city to stop in your vacation? Valley
What is the second city to stop in your vacation? Great Falls
What is the third city to stop in your vacation? Mandan

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_stop_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == vacation_stop1_city]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == vacation_stop2_city] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == vacation_stop3_city]  
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
186,602,Centralia,US,85.68,clear sky,46.7162,-122.9543,Peppermill Inn

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [9]:
# NOTE: you will probably have to run the below code in Jupyter Notebook

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create a vacation itinerary Layer
vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints=[stop1, stop2, stop3],
    travel_mode= "DRIVING"
)

fig.add_layer(vacation_itinerary)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,602,Centralia,US,85.68,clear sky,46.7162,-122.9543,Peppermill Inn
1,647,Valley,US,82.76,clear sky,45.1277,-116.1262,NaN
2,436,Great Falls,US,89.69,clear sky,47.5002,-111.3008,La Quinta Inn & Suites by Wyndham Great Falls
3,472,Mandan,US,88.81,clear sky,46.8267,-100.8896,Twin City Estates

In [20]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
#get map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))